<section id="one" class="wrapper style1 special">
    <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/v1.0.0/dist/ng-table.min.css">
    <script src="https://cdn.rawgit.com/esvit/ng-table/v1.0.0/dist/ng-table.js"></script>
    <script src ="https://cnd.socket.io/socket.io-1.2.0.js"></script>
    <script src ="http://code.jquery.com/jquery-1..1.1.js"></script>
    <div class="container">
        <header class="major">
            <p>Uris Stats</p>
        </header>
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>URI Short</th>
                        <th>Browser</th>
                        <th>Date</th>
                        <th>Country</th>
                        <th>City</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX">
                        <td>https://goo.gl/37TACS</td>
                        <td>Safari 10</td>
                        <td>2015-01-10</td>
                        <td class="center">Spain</td>
                        <td class="center">Zaragoza</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>https://goo.gl/37TACS</td>
                        <td>Microsoft Edge</td>
                        <td>2015-12-17</td>
                        <td class="center">United Kingdom</td>
                        <td class="center">London</td>
                    </tr>
                    <tr class="odd gradeA">
                        <td>https://goo.gl/un5E</td>
                        <td>Mozilla Firefox 9</td>
                        <td>2015-01-10</td>
                        <td class="center">France</td>
                        <td class="center">Paris</td>
                    </tr>
                    <tr class="even gradeA">
                        <td>https://goo.gl/un5E</td>
                        <td>Internet Explorer 6</td>
                        <td>2015-11-23</td>
                        <td class="center">Italy</td>
                        <td class="center">Milan</td>
                    </tr>
                    <tr class="odd gradeA">
                        <td>https://goo.gl/un5E</td>
                        <td>Google Chrome 45</td>
                        <td>2015-01-10</td>
                        <td class="center">USA</td>
                        <td class="center">San Diego</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


